body{
    background: #111;
}
footer{
   position:relative;
   bottom:0;
   left: 0;
   right: 0;
   height:60px;
   background:#000;
   border-top: 1px solid #fff;
}
.copyright{
    color: rgb(218, 187, 187);
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}
#level1{
    display: none;
}